.column.notification.is-success{
    margin: 2%;

}
nav.navbar.is-fixed-top{
    background-color: #2f3540;
}
.hero.is-primary{
    background-color: #878b91;

}
.hero.is-primary .navbar-menu {
    background-color: #2f3540;
}
.body-section{
    margin-top:-5%;
}


.notification.is-success {
    background-color: #656970;
    color: #fff;
}
.footer.container{
    display: flex;
    justify-content: center;
    margin: auto;
}

ul {
    width: 100%;
}
li {
    float: left;
    width: 33%;
}
/*.tile.is-child{*/
/*    padding: 3%;*/
/*}*/
@media screen and (max-width: 769px), print {
    .tile:not(.is-child) {
        margin: -3%;
        /*padding: -10%;*/
        /*display: flex;*/
    }
    .tile.heavy{
        margin-left: -6%;
        margin-right: -6%;
    }

.tile.is-child{
    padding: 3%;
}
    .column{
        padding: 0%;

    }
.columns{
    margin-left: -12%;
    margin-right: -12%;
}
.extra{
    margin-left: -10%;
}}
.TextBlock{
    margin: -3%;
}
.hero-foot{
    margin-top: -2%;
    margin-bottom: 0%;
}
/*.TextBlock{*/
/*    text-align: justify;*/
/*}*/


#back2Top {
    width: 40px;
    line-height: 40px;
    overflow: hidden;
    z-index: 999;
    display: none;
    cursor: pointer;
    -moz-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    position: fixed;
    bottom: 50px;
    right: 0;
    background-color: #DDD;
    color: #555;
    text-align: center;
    font-size: 30px;
    text-decoration: none;
}
#back2Top:hover {
    background-color: #DDF;
    color: #000;
}